/* 文章内图片增加圆角 */
img.medium-zoom-image:not(.medium-zoom-image--opened) {
  border-radius: 8px;
}

/* 修复 code 高亮样式问题 */
.line.diff,
.line.code-line-highlighted {
  width: 100%;
  margin: 0;
}

/* shiki 的文本状态底部会多一行，通过 CSS 去除 */
.shiki .language-text .line:last-child {
  display: none;
}
.shiki .language-txt .line:last-child {
  display: none;
}
.shiki .language-plain .line:last-child {
  display: none;
}
